.Review {
  margin: 0;
  text-align: center;
}

.Review h3,
.Review p {
  margin: 0;
}

.Review > img {
  height: var(--img-size);
  width: var(--img-size);
}

.Review p {
  font-family: var(--font-secondary);
}

.Review time {
  font-size: .75em;
  opacity: .65;
}
