@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
}

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Slabo 27px', serif;
  --img-size: 200px;
}
